.prevQuestion {
	display: block;
	position: absolute;
	top: 40%;
	left: -30px;
}

.nextQuestion {
	display: block;
	position: absolute;
	top: 40%;
	right: -30px;
}

.pagination {
	display: flex;
	gap: 5px;
	margin: 20px 0px 0px;
}