.filtersContainer {
	width: 800px;
	font-family: 'Inter', sans-serif;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #4e4e4e;
}

.formItemContainer {
	margin-top: 15px;
}

.formContent {
	width: 100%;
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	padding: 40px;
	box-sizing: border-box;
}

/* .label {
	min-width: 110px;
	display: flex;
	align-items: center;
	font-size: 16px;
	display: flex;
	font-weight: 600;
	color: #4e4e4e;

	padding: 5px 0px;
	margin-bottom: 15px;
	box-sizing: border-box;
} */

/* .errorContainer {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	font-size: 15px;
	display: flex;
} */

/* .alert {
	text-align: center;
	width: 100%;
	color: #ffa39e;
} */

.filtersButtons {
	display: flex;
	gap: 10px;
	justify-content: end;
}

.allTags {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 30px;
}

@media (max-width: 1200px) {
	.formContent {
		width: 100%;
		padding: 0px;
	}

	/* .label {
		font-size: 13px;
		width: 100%;
	} */
}
