.adminContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.tab {
	padding: 0px 30px;
}

.tabs :global(.ant-tabs-nav) {
	margin: 0px !important;
}

.formsContainer {
	width: 65%;
	background: #fff;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	/* padding-left: 10px; */
}

@media (min-width: 1441px) {
	.formsContainer {
		width: 1400px;
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.formsContainer {
		width: 90%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 1024px) {
	.adminContainer {
		margin-top: 0;
		margin-bottom: 0;
	}

	.formsContainer {
		width: 90%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.formsContainer {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0px;
	}
}
