.loginContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
}

.loginForm {
	width: 100%;
}

.sendLogin {
	margin-top: 50px;
	margin-bottom: 10px;
}

.signUpContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.signUp {
	text-decoration: none;
	color: var(--color-primary);
}
