.signUpContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 350px;
	padding: 20px;
}

.signUpHeader {
	font-size: 32px;
	font-weight: 500;
	line-height: 12px;
	text-align: center;
}

.signUpForm {
	width: 100%;
}

.sendSignUp {
	margin-top: 50px;
	margin-bottom: 10px;
}

.loginContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.login {
	text-decoration: none;
	color: var(--color-primary);
}

@media (min-width: 769px) {
	.signUpHeader {
		margin-top: 100px;
		margin-bottom: 120px;
	}
}

@media (min-width: 1201px) {
	.signUpHeader {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
