.signUpContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px;
}

.signUpHeader {
	font-size: 32px;
	font-weight: 500;
	line-height: 12px;
	text-align: center;
}

.signUpForm {
	width: 100%;
}

.formItem {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
}

.nameOfItem {
	display: block;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 500;
}

.sendSignUp {
	margin-top: 50px;
	margin-bottom: 10px;
}

.loginContainer {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.login {
	text-decoration: none;
	color: var(--color-primary);
}

.switchRole {
	display: flex;
	justify-content: space-around;
}

.role {
	width: 50%;
}

.button {
	width: 100%;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	color: '#7f7f7f';
	padding: 20px 0px;
}

@media (min-width: 769px) {
	.signUpHeader {
		margin-top: 100px;
		margin-bottom: 120px;
	}
}

@media (min-width: 1201px) {
	.signUpHeader {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
