.cardsContainer {
	display: flex;
	gap: 14px;
	width: 532px;
}
.containerTop {
	padding: 0;
}

.containerBottom {
	padding-top: 0;
}

@media (max-width: 480px) {
	.cardsContainer {
		max-width: 400px;
		display: block;
		overflow: hidden;
	}

	main {
		max-width: 480px;
	}
}
