.progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* max-height: 350px; */
	width: 100%;
}

.clearProgress {
	width: 100%;
	display: flex;
	justify-content: end;
}

.collectionTitle {
	font-size: 24px;
	font-weight: bold;
}

.statistics {
	display: flex;
	margin-top: 30px;
	gap: 100px;
	width: 70%;
	justify-content: center;
}

.modeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.randomProgress {
	display: flex;
}

.explanation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5px;
	gap: 5px;
}

.markersExplanation {
	display: flex;
	align-items: center;
}

.marker {
	width: 16px;
	height: 16px;
}

.success {
	background: var(--color-success);
}

.error {
	background: var(--color-error);
}

.primary {
	background: var(--color-primary);
}

.modeTitle {
	font-size: 18px;
	font-weight: bold;
}

.totalProgress {
	width: 25%;
	display: flex;
	justify-content: center;
	gap: 0px 15px;
	margin-top: 10px;
}

.moreInfoContainer {
	width: 100%;
	margin-top: 20px;
}

.uncorrectAnswersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 20px;
}

.countLatestTest {
	font-weight: bold;
	font-size: 24px;
}

.uncorrectAnswers {
	display: flex;
	gap: 10px 10px;
}

@media (max-width: 1201px) {
	.collectionTitle {
		margin-top: 20px;
	}
	.modeTitle {
		font-size: 16px;
	}

	.totalProgress {
		flex-direction: column;
		width: 100%;
	}

	.statistics {
		gap: 30px;
		flex-direction: column;
		width: 100%;
	}
}
