.progressTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.progressThemes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progressContainer {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.themeTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.commonProgress {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 0px 40px;
  width: 60%;
}

.progressItemContainer {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
}

.showAddInfoContainer {
  margin: 0 auto;
  width: 60%;
  margin-top: 20px;
}

.progressItem {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 5px 0px;
}

.addInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media(max-width: 769px) {
  .progressContainer {
    width: 100%;
  }

  .commonProgress {
    width: 100%;
  }

  .showAddInfoContainer{
    width: 100%;
  }
}
