.progressTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.progressThemes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.progressContainer {
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 8px;
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.themeTitle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

.commonProgress {
  display: flex;
  align-self: center;
  gap: 0px 100px;
  width: 60%;
}

.progressItemContainer {
  display: flex;
  gap: 0px 10px;
  width: 70%;
  justify-content: start;
}

.progressItem {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 5px 0px;
}

.randomProgress {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 1440px) {
  .progressContainer {
    width: 80%;
  }
}

@media(max-width: 1024px) {
  .progressContainer {
    width: 100%;
  }

  .commonProgress {
    width: 100%;
  }
}

@media(max-width: 480px) {
  .progressContainer {
    width: 100%;
  }

  .commonProgress {
    flex-direction: column;
    align-items: center;
    gap: 0px 0px;
  }

  .progressItem {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .randomProgress {
    width: 60%;
    margin-bottom: 5px;
  }

  .progressItemContainer {
    justify-content: start;
    width: 100%;
  }
}

@media(min-width: 1441px) {
  .progressContainer {
    width: 50%;
  }
}
