.filterContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 250px;
	margin: 30px auto;
	gap: 10px 20px;
}

.title {
	font-size: 24px;
	font-weight: bold;
}

.buttonsContainer {
	display: flex;
	gap: 0 10px;
	width: 200px;
}

.buttonContainer {
	width: 95px;
}

/* .filterMenu {
	margin-left: 0px;
	margin-top: 0px;
} */
