.collectionsContainer {
	display: grid;
	width: 45%;
	height: 100%;
	margin: 50px auto;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 400px 1fr;
	grid-template-areas:
		'header header'
		'sidebar content';
}
.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
}
