.testContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.form {
	width: 100%;
	margin-top: 25px;
}

.formItem {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 30px;
}

.nameOfItem {
	width: 60%;
	font-size: 25px;
	margin: 0px 0px;
	display: flex;
	align-self: center;
}

.saveTestContainer {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	width: 100%;
}

@media (min-width: 320px) {
	.testContainer {
		width: 100%;
		height: 100%;
		justify-content: start;
		margin-top: 50px;
	}

	.nameOfItem {
		font-size: 20px;
		width: 60%;
	}
}

@media (min-width: 481px) {
	.nameOfItem {
		font-size: 20px;
		width: 30%;
	}
}

@media (min-width: 769px) {
	.testContainer {
		width: 500px;
		justify-content: center;
		margin-top: 0px;
	}

	.nameOfItem {
		width: 60%;
		font-size: 25px;
	}
}
