.testContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.form {
	width: 100%;
	margin-top: 25px;
}

.formItem {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 30px;
}

.nameOfItem {
	width: 60%;
	font-size: 25px;
	margin: 0px 0px;
	display: flex;
	align-self: center;
}

.saveTestContainer {
	margin-top: 25px;
	display: flex;
	justify-content: center;
	width: 100%;
}

/* @media (min-width: 320px) {
	.form {
		width: 95%;
		padding: 0px 15px;
		box-sizing: border-box;
	}

	.formItem {
		display: flex;
		flex-direction: column;
	}

	.nameOfItem {
		display: flex;
		align-self: start;
		width: 100%;
		margin-bottom: 10px;
	}
}

@media (min-width: 481px) {
	.form {
		width: 95%;
	}

	.formItem {
		display: flex;
		flex-direction: row;
	}

	.nameOfItem {
		display: flex;
		align-self: center;
		width: 60%;
	}
} */
