.marginTop01 {
	margin-top: var(--spacing-01);
}

.marginBottom01 {
	margin-bottom: var(--spacing-01);
}

.marginRight01 {
	margin-right: var(--spacing-01);
}

.marginLeft01 {
	margin-left: var(--spacing-01);
}

.marginTop02 {
	margin-top: var(--spacing-02);
}

.marginBottom02 {
	margin-bottom: var(--spacing-02);
}

.marginRight02 {
	margin-right: var(--spacing-02);
}

.marginLeft02 {
	margin-left: var(--spacing-02);
}

.marginTop03 {
	margin-top: var(--spacing-03);
}

.marginBottom03 {
	margin-bottom: var(--spacing-03);
}

.marginRight03 {
	margin-right: var(--spacing-03);
}

.marginLeft03 {
	margin-left: var(--spacing-03);
}

.marginTop04 {
	margin-top: var(--spacing-04);
}

.marginBottom04 {
	margin-bottom: var(--spacing-04);
}

.marginRight04 {
	margin-right: var(--spacing-04);
}

.marginLeft04 {
	margin-left: var(--spacing-04);
}

.marginTop05 {
	margin-top: var(--spacing-05);
}

.marginBottom05 {
	margin-bottom: var(--spacing-05);
}

.marginRight05 {
	margin-right: var(--spacing-05);
}

.marginLeft05 {
	margin-left: var(--spacing-05);
}

.marginTop06 {
	margin-top: var(--spacing-06);
}

.marginBottom06 {
	margin-bottom: var(--spacing-06);
}

.marginRight06 {
	margin-right: var(--spacing-06);
}

.marginLeft06 {
	margin-left: var(--spacing-06);
}

.marginTop07 {
	margin-top: var(--spacing-07);
}

.marginBottom07 {
	margin-bottom: var(--spacing-07);
}

.marginRight07 {
	margin-right: var(--spacing-07);
}

.marginLeft07 {
	margin-left: var(--spacing-07);
}

.marginTop08 {
	margin-top: var(--spacing-08);
}

.marginBottom08 {
	margin-bottom: var(--spacing-08);
}

.marginRight08 {
	margin-right: var(--spacing-08);
}

.marginLeft08 {
	margin-left: var(--spacing-08);
}

.marginTop09 {
	margin-top: var(--spacing-09);
}

.marginBottom09 {
	margin-bottom: var(--spacing-09);
}

.marginRight09 {
	margin-right: var(--spacing-09);
}

.marginLeft09 {
	margin-left: var(--spacing-09);
}

.marginTop010 {
	margin-top: var(--spacing-010);
}

.marginBottom010 {
	margin-bottom: var(--spacing-010);
}

.marginRight010 {
	margin-right: var(--spacing-010);
}

.marginLeft010 {
	margin-left: var(--spacing-010);
}
