.headersContainer {
	position: static;
	box-sizing: border-box;
	width: 100%;
}

.headerLeftMenuList {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.headerLeftMenuList a {
	text-decoration: none;
	color: black;
}

.headerLeftMenuList a:hover {
	color: var(--color-primary);
}

.separateLine {
	width: 100%;
	height: 0.5px;
	background: var(--checkbox-disabled-background);
}
