.progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 250px;
	width: 100%;
}

.clearProgress {
	width: 100%;
	display: flex;
	justify-content: end;
}

.collectionTitle {
	font-size: 24px;
	font-weight: bold;
}

.statistics {
	display: flex;
	margin-top: 30px;
	gap: 100px;
}

.modeContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.modeTitle {
	font-size: 20px;
}

@media (max-width: 1201px) {
	.collectionTitle {
		margin-top: 20px;
	}
	.modeTitle {
		font-size: 18px;
	}
}
