.typeTags {
	width: 100%;
	display: flex;
	gap: 10px;
}

.titleType {
  width: 50px;
	font-size: 12px;
	font-weight: 600;
	color: #4e4e4e;
}

.tagsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	align-content: flex-start;
}

/* ATTENTION MAKE GLOBAL CSS STYLE */
.tag :global(.ant-tag-close-icon) {
	color: #108ee9;
}
